# Assignment Topic:

#### I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I needed to include a combination of markdown and code cells. I did not needed to use the Markdown cheat sheet to help me determine the appropriate syntax for my markdown.

##### Guidelines for the submission:

<h4>There are a total of 25 points possible for this final project.</h4>

#### Name: Assignment Submitting My Work

#### EXERCISE 2 - CREATE A MARKDOWN CELL WITH THE TITLE OF THE NOTEBOOK

<h4>Answers <h4> 
<h5>Data Science Tools and Ecosystem.<h5>

#### EXERCISE - 3 CREATE A MARKDOWN CELL FOR AN INTRODUCTION.

<h4>Answers<h4>

<h5> Markdown cells allow I to write plain text and format it using the Markdown syntax rules. This type of cells also supports standard LaTex notation so we can include mathematical symbols in our text. Markdown cells usually serve as explanatory or descriptive texts to our code. <h5>

#### EXERCISE 4- CREATE A MARKDOWN CELL TO LIST DATA SCIENCE LANGUAGES.

<h4> Answers <h4>

#### Some of the popular languages that Data Scientists use are:
<h6>Python.</h6></h6><h6>R.</h6><h6>SQL.</h6><h6>Julia.</h6><h6>Scala.</h6><h6>C/C++.</h6><h6>JavaScript.</h6>

#### EXERCISE 5 - CREATE A MARKDOWN CELL TO DATA SCIENCE LIBRARIES.

<h4>Answers</h4>

<h6>TensorFlow.</h6>
<h6>NumPy.</h6>
<h6>SciPy.</h6>
<h6>Matplotlib.</h6>
<h6>Karas.</h6>
<h6>Scikit-Learn.</h6>
<h6>PyTorch.</h6>

<h6>Scrapy.</h6>
<h6>BeutifulSoup.</h6>
<h6>ELI5.</h6>
<h6>LightGBM.</h6>
<h6>Theano.</h6>
<h6>NupIC.</h6>
<h6>Ramp.</h6>
<h6>Pipenv.</h6>
<h6>Bob.</h6>
<h6>PyBrain.</h6>
<h6>Caffe2.</h6>

#### EXERCISE 6 - CREATE A MARKDOWN CELL WITH A TABKE OF DATA SCIENCE TOOLS.

<h4>Answer</h4>

<h5> Data Science Tools <h5>
    <h6> SAS. It is one of those data science tools which are specifically designed for statistical operation </h6>
    <h6>Apache Spark</h6>
    <h6>BigML</h6>

#### EXERCISE 7 - CREATE A MARKDOWN CELL INTRODUCTION ARITHMETIC EXPRESSION EXAMPLE.

<h4> Answers</h4>

##### Example of evaluating arithmetic expressions in Python

In [5]:
# Arithmetic operations
code = compile("2 + 5", "<string>", "eval")
eval(code)

# Result: 7

7

In [6]:
code1 = compile("(6 + 6) * 3", "<string>", "eval")
eval(code1)

# Result: 36

36

In [7]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

#### EXERCISE 8 - CREATE A CODE A CELL TO MULTIPLY AND ADD NUMBERS.

 <h5> This a simple arithmetic expression to mutiply then add integers</h5>

In [9]:
(3*4)+5 - 8

# Result: 9

9

#### EXERCISE 9 - CREATE A CODE CELL TO CONVERT MINUTES TO HOURS.

#### Answers

<h5> This will convert 200 minutes to hours by diving by 60 </h5>

In [10]:
# Get input from the user
minutes = float(input("Enter the number of minutes: "))

# Convert minutes to hours
hours = minutes / 60

# Display the result
print(f"{minutes} minutes is equal to {hours} hours")

Enter the number of minutes:  5

5.0 minutes is equal to 0.08333333333333333 hours

#### EXERCISE 10 - INSERT A MARKDOWN CELL TO LIST OBJECTIVES.

<h4>Answers </h4>

<h4>Objectives:</h4>

<h5>List popular languages that Data Scientists use.</h5>
<h5>List commonly used libraries used by Data Scientists.</h5>
<h5>Comment on Data Science tools.<h5>

#### EXERCISE 11 - CREATE A MARKDOWN CELL TO INDICATE THE AUTHOR'S NAME.

#### Answers

#### Author's <h4> Uvesh Ahmad</h4>